.error-indicator {
    margin: 0 auto;
    color: #c06112;
    font-size: 1.2em;
    position: relative;
    text-align: center;
}
.boom {
    font-size: 2em;
    color: #c06112;
    font-weight: bold;
    text-align: center;
}
.error-icon {
    max-width: 120px;
    display: block;
    position: absolute;
    left: 13%;
}
