@keyframes ldio-ys0yuzn0bj {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-ys0yuzn0bj div { box-sizing: border-box!important }
.ldio-ys0yuzn0bj > div {
    position: absolute;
    width: 88.16px;
    height: 88.16px;
    top: 13.919999999999998px;
    left: 13.919999999999998px;
    border-radius: 50%;
    border: 4.64px solid #000;
    border-color: #93dbe9 transparent #93dbe9 transparent;
    animation: ldio-ys0yuzn0bj 3.571428571428571s linear infinite;
}

.ldio-ys0yuzn0bj > div:nth-child(2), .ldio-ys0yuzn0bj > div:nth-child(4) {
    width: 76.55999999999999px;
    height: 76.55999999999999px;
    top: 19.72px;
    left: 19.72px;
    animation: ldio-ys0yuzn0bj 3.571428571428571s linear infinite reverse;
}
.ldio-ys0yuzn0bj > div:nth-child(2) {
    border-color: transparent #689cc5 transparent #689cc5
}
.ldio-ys0yuzn0bj > div:nth-child(3) { border-color: transparent }
.ldio-ys0yuzn0bj > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-ys0yuzn0bj > div:nth-child(3) div:before, .ldio-ys0yuzn0bj > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.64px;
    height: 4.64px;
    top: -4.64px;
    left: 37.12px;
    background: #93dbe9;
    border-radius: 50%;
    box-shadow: 0 83.52px 0 0 #93dbe9;
}
.ldio-ys0yuzn0bj > div:nth-child(3) div:after {
    left: -4.64px;
    top: 37.12px;
    box-shadow: 83.52px 0 0 0 #93dbe9;
}

.ldio-ys0yuzn0bj > div:nth-child(4) { border-color: transparent; }
.ldio-ys0yuzn0bj > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-ys0yuzn0bj > div:nth-child(4) div:before, .ldio-ys0yuzn0bj > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.64px;
    height: 4.64px;
    top: -4.64px;
    left: 31.319999999999997px;
    background: #689cc5;
    border-radius: 50%;
    box-shadow: 0 71.92px 0 0 #689cc5;
}
.ldio-ys0yuzn0bj > div:nth-child(4) div:after {
    left: -4.64px;
    top: 31.319999999999997px;
    box-shadow: 71.92px 0 0 0 #689cc5;
}
.loadingio-spinner-double-ring-ozzllk315rh {
    width: 190px;
    height: 190px;
    display: block;
    overflow: hidden;
    margin: 0 auto 20px;
    background-color: #303030;
}
.ldio-ys0yuzn0bj {
    width: 100%;
    height: 100%;
    position: relative;
    top: 38px;
    left: 33px;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-ys0yuzn0bj div { box-sizing: content-box; }
